.wrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.inner {
    padding: 10px 5px;
}

.edit {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1px 5px;
    font-size: 16px;
}

.checkbox {
    margin-right: 10px;
}

.checkbox:checked + span {
    text-decoration: line-through;
}

.btns {
    margin-left: auto;
}

.btn {
    white-space: nowrap;
    margin-left: 8px;
}

.form {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 5px;
}

.formBtn {
    white-space: nowrap;
    margin-left: auto;
}

.formInput {
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
